graph
{
	fill-color: black;

}

node {
    fill-color: red;
    size: 10px;
    text-color: white;
    shadow-mode: plain;
    shadow-color: red;
    shadow-width: 20px;
    shadow-offset: 0px,0px;
}
node.gray {
    fill-color: gray;
}

node.black {
    fill-color: white;
}

node.root {
    fill-color: white;
    size : 25px;
}


edge {
    shape: line;
    fill-color: white;
    size: 1px;
    shadow-mode: plain;
    shadow-color: white;
    shadow-width: 2px;
    shadow-offset: 0px;
    stroke-width: 10px;
}

edge.one {
    size: 1px;
    stroke-width: 1px;
    fill-color: rgba(255,255,255,60);
}
edge.two {
    size: 2px;
    stroke-width: 2px;
}
edge.three {
    size: 3px;
    stroke-width: 3px;
}
edge.four {
    size: 4px;
    stroke-width: 4px;
}
edge.five {
    size: 5px;
    stroke-width: 5px;
}
edge.six {
    size: 6px;
    stroke-width: 6px;
}
edge.seven {
    size: 7px;
    stroke-width: 7px;
}
edge.eight {
    size: 8px;
    stroke-width: 8px;
}
edge.nine {
    size: 9px;
    stroke-width: 9px;
}
edge.ten {
    size: 10px;
    shape: line;
    fill-color: white;
    shadow-mode: plain;
    shadow-color: white;
    shadow-width: 2px;
    shadow-offset: 0px;
    stroke-width: 10px;
}


edge.red {
    size: 2px;
    stroke-color: red;
    fill-color: red;
    stroke-width: 1px;
    stroke-mode: plain;

}
edge.blue {
    size: 2px;
    stroke-color: white;
    stroke-width: 1px;
    stroke-mode: plain;

}



